cors:
  originPatterns: http://localhost:4200

spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:postgresql://localhost:5432/viverbem?createDatabaseIfNotExist=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgreSQLDialect
  main:
    allow-circular-references: true

security:
  jwt:
    token:
      secret: ${SECRET_KEY}
      time: 3600000

servlet:
  multipart:
    enabled: true
    file-size-threshold: 2KB
    max-file-size: 10MB

springdoc:
  pathsToMatch: /api/**/v1/**
  swagger-ui:
    use-root-path: true

server:
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always

logging:
  level:
    org:
      springframework:
        web: DEBUG
        web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver: DEBUG
        web.servlet.mvc.support.DefaultHandlerExceptionResolver: DEBUG
        web.servlet.mvc.method.annotation.ResponseEntityExceptionHandler: DEBUG
        web.servlet.HandlerExceptionResolver: DEBUG
      springframework.boot.autoconfigure.web.servlet.error.BasicErrorController: DEBUG
      hibernate: DEBUG